.cache
.clangd
.xmake
build
msbuild
compile_commands.json
/output/Win32/*.exe
/output/Win32/rime.dll
/output/*.exp
/output/Win32/*.exp
/output/*.ilk
/output/*.iobj
/output/*.ipdb
/output/weasel*.dll
/output/data/*.yaml
/output/archives
/include/glog
/ipch
*.log
*.user
*.suo
*.sdf
*.opensdf
*.aps
*~
.*.swp
*.swp
.vs
Thumbs.db
/.idea
/cmake-build-debug
*.VC.db
release-notes.html
*.7z
RELEASE_CHANGELOG.md
deps/
arm64x_wrapper/*.o
arm64x_wrapper/*.dll
arm64x_wrapper/*.ime
arm64x_wrapper/*.lib
arm64x_wrapper/*.exp